.timer-box{
 display: flex;
 width: 100%;
 margin-top:10px;
 background-color: black;
 color: white;
 padding: 20px 20px 20px 25px;
 align-items: center;
 justify-content: flex-end;
 border-radius: 6px;
}

.Timer-format{
width: 55%;
display: flex;
justify-content: space-between;
}

.Timer-Buttons{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.action-buttons{
    width: 10px !important;
    height: 30px !important;
    margin:5px !important;
    padding: 5px !important;
}
